/*这种居中方法必须要求固定高度，否则不行*/
.box{
	margin:auto;
	background-color: #ccc;
	width: 400px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -100px;
	overflow: hidden;

}
.circle{
	background-color: #fc0;
	width: 100px;
	height: 100px;
	border-radius: 50%;

}
#circle1{
	position: absolute;
	top: -50px;
	left: -50px;
}
#circle2{
	position: absolute;
	bottom: -50px;
	right:-50px;
}
.box p{
	text-align: center;
}
